/* FOOTER */

/* MAIN11 */

/* MAIN9 */

/* MAIN8 */

/* MAIN7 */

/* MAIN6 */

/* MAIN5 */

/* MAIN4 */

/* MAIN3 */

/* MAIN2 */
.main2 {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
}
.main2__block {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 10px;
	font-size: 120%;
	color: #fff;
	border: 1px solid #716a5d;
}
.main2__foto img {
	height: 80px;
}
.main2__link a {
	color: #31b2bfcf;
	padding: 20px 10px;
}
.main2__link a:hover {
	color: #62a72f;
}
.main2__link p {
	color: #31b2bfcf;
	padding: 20px 10px;
}
.main2__description {
	color: #fff;
}
.countdown {
	display: flex;
}
.countdown-number span:nth-child(2) {
	margin: 0 10px 0 0;
}
.timer {
	opacity: 1;
	background: linear-gradient(to left, #008aff, #00ffe7);
	animation: scrollbar 15s linear infinite;
}
.timer p,span {
	color: black;
}
.main2__data {
	margin: 0 20px;
}
/* MAIN1 */
.main1 {
	height: 100vh;
	width: 180px;
	border: 1px solid #716a5d;
	position: absolute;
	top: 80px;
	left: 0;
	display: flex;
	flex-direction: column;
}
.main1 a {
	color: #31b2bfcf;
	font-size: 200%;
	padding: 10px 10px;
	border: 1px solid #716a5d;
}
.main1 a:hover {
	color: #62a72f;
}
/* HEADER */
.header {
	width: 100%;
	height: 80px;
	background: #31b2bfcf;
}
.header__block {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.logo {
	margin: 0 auto;
}
.logo a {
	font-size: 400%;
	color: #222;
	padding: 2px 5px;
}
.back a {
	font-size: 180%;
	color: #222;
	padding: 23px 20px;
}
.back a:hover {
	color: #fff;
}
/* OTHER */
html {
	background: #222;
}
body {
	overflow-x: hidden;
	/*overflow-y: hidden;*/
	min-height: 100vh;
	background: #222;
	background-size: 20%;
	font-family: 'Roboto Slab', serif;
	letter-spacing: 0.5px;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
}
body.hide {
	display: none;
}
a.active {
	color: #62a72f;
}
section {
	position: relative;
	width: 100%;
	height: 100vh;
}
.container {
	padding: 0 0 0 180px;
}
/* OTHER */
@media (max-width: 767px) {
	.main1 {
		width: 100%;
		height: 60px;
		position: relative;
		top: 0;
		left: 0;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.main1 a {
		height: 50%;
		font-size: 100%;
		padding: 5px 10px;
		border: 1px solid #716a5d;
	}
	.logo a {
		font-size: 200%;
	}
	.back a {
		font-size: 120%;
		padding: 10px 10px;
	}
	.container {
		padding: 0;
	}
	.main2__foto img {
		height: 50px;
	}
	.main2__data {
		margin: 0 10px;
	}
}
@media (max-width: 320px) {
	.header {
		height: 40px;
	}
	.main1 {
		width: 100%;
		height: 60px;
		position: relative;
		top: 0;
		left: 0;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.main1 a {
		height: 50%;
		font-size: 100%;
		padding: 5px 10px;
	}
	.logo a {
		font-size: 200%;
	}
	.back a {
		font-size: 120%;
		padding: 10px 10px;
	}
	.container {
		padding: 0;
	}
	.main2 {
		width: 100%;
	}
	.main2__block {
		width: 100%;
		height: 60px;
		padding: 10px;
		font-size: 90%;
	}
	.main2__foto img {
		height: 30px;
	}
	.main2__link a {
		padding: 20px 5px;
	}
	.main2__data {
		margin: 0 5px;
	}
}
::-webkit-scrollbar {
	width: 0;
}
#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	background: linear-gradient(to top, #008aff, #00ffe7);
	z-index: 999;
	animation: scrollbar 5s linear infinite;
}
@keyframes scrollbar {
	0%,100% {
		filter: hue-rotate(0deg);
	}
	50% {
		filter: hue-rotate(360deg);
	}
}
#progressbar:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(10px);
}
#progressbar:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
}
#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}
/* Обнулення */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}